.control_section {
    width: 446px;
    margin: 0 auto;
    padding: 0;
}

.heading {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.32;
}

.description {
    margin-bottom: 60px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: var(--secondary-text-color);
}

.motto {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.45;
}